@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@400;800&family=Pompiere&family=Roboto+Condensed:wght@300;400&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font-family: Arial, sans-serif;
}

ul, ol {
  list-style: none;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

html {
  font-size: 62.5%;
  font-family: "Pompiere", cursive, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

img {
  width: 100%;
}

main {
  display: block;
}

/* Estilos generales del navbar */
.navbar {
  background-color: #A6A7F0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #A6A7F0;
}
.navbar #navbarNavDropdown {
  margin-right: 150px;
  text-align: center;
}
.navbar .nav-link {
  font-size: 18px;
  font-family: "Montserrat", sans-serif, sans-serif;
  text-align: center;
  color: #FFFFFF;
}
.navbar .nav-link:hover {
  background-color: #A6A7F0;
  padding: 1rem;
  color: #D2DDE9;
}
.navbar .dropdown-item {
  font-size: 15px;
  font-family: "Montserrat", sans-serif, sans-serif;
  text-align: center;
}
.navbar .dropdown-item:hover {
  background-color: #A6A7F0;
  padding: 1rem;
  color: #FFFFFF;
}
.navbar .logo {
  width: 100px;
}
@media (max-width: 991.98px) {
    .navbar #navbarNavDropdown {
    text-align: center;
    margin-right: 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0;
  }
}
.navbar .nav-item.dropdown > .nav-link {
  color: #FFFFFF;
}
.navbar .nav-item.dropdown > .nav-link:hover {
  color: #D2DDE9;
}

footer {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #679899;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 10px;
  padding: 30px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: "Pompiere", cursive, sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #679899;
}

h3 {
  font-size: 20px;
  font-family: "Acme", sans-serif, sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.contact-form {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #D2DDE9;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.contact-form label {
  display: block;
  margin: 1em 0 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #679899;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.contact-form button {
  background-color: #A6A7F0;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.contact-form button:hover {
  background-color: #679899;
}
